---
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";

import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const pageTitle = "記事一覧";

const allPosts = (await getCollection('blog')).sort((a, b) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});

---

<BaseLayout pageTitle={pageTitle}>
	<p>XやBlueskyでは足りないときに</p>

<ul class="posts-grid">
  {
    allPosts.map((content) => {
      const { title, thumbnail, pubDate } = content.data;
      return (
        <BlogPost
          url={content.slug}
          title={title}
          thumbnailSrc={thumbnail.url.src}
          thumbnailAlt={thumbnail.alt || title}
          date={pubDate}
        />
      );
    })
  }
</ul>

<style>
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  @media (max-width: 768px) {
    .posts-grid {
      grid-template-columns: 1fr;
      max-width: 400px;
      margin: 0 auto;
    }
  }
</style>
</BaseLayout>
