---
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";

import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
import AllPosts from "../components/AllPosts.astro";

const pageTitle = "記事一覧";

const allPosts = (await getCollection('blog')).sort((a, b) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});

---

<BaseLayout pageTitle={pageTitle}>
	<p>XやBlueskyでは足りないときに</p>

  <AllPosts allPosts={allPosts} />

<!-- <ul class="posts-grid">
  {
    allPosts.map((content) => {
      const { title, thumbnail, pubDate } = content.data;
      return (
        <BlogPost
          url={content.slug}
          title={title}
          thumbnailSrc={thumbnail.url.src}
          thumbnailAlt={thumbnail.alt || title}
          date={pubDate}
        />
      );
    })
  }
</ul> -->


</BaseLayout>
